[submodule "src/rtl/vendor/picorv32"]
	path = src/rtl/vendor/picorv32
	url = https://github.com/YosysHQ/picorv32.git
[submodule "third_party/uvm-verilator"]
	path = third_party/uvm-verilator
	url = https://github.com/chipsalliance/uvm-verilator.git
[submodule "third_party/gem5"]
	path = third_party/gem5
	url = https://github.com/gem5/gem5.git
[submodule "third_party/verilator"]
	path = third_party/verilator
	url = https://github.com/verilator/verilator.git
